.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #000; /* Fundo preto */
    height: 100vh;
    color: #fff; /* Texto branco */
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffc2de; /* Rosa */
    margin-bottom: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente os elementos no card */
    justify-content: center; /* Centraliza verticalmente os elementos no card */
    background-color: #1e1e1e; /* Fundo cinza escuro */
    border: 2px solid #ffc2de; /* Borda rosa */
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .labelContainer {
    width: 100%; /* Faz os elementos ocuparem toda a largura do card */
    margin-bottom: 20px;
  }
  
  .textField {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha o texto à esquerda */
    width: 100%; /* Faz o label ocupar toda a largura */
    color: #e0e0e0;
  }
  
  .inputField {
    padding: 10px;
    border: 1px solid #ffc2de; /* Rosa */
    border-radius: 5px;
    background-color: #2e2e2e;
    color: #fff;
    width: 100%; /* Faz o campo de entrada ocupar toda a largura */
  }
  
  .inputField:focus {
    outline: none;
    border-color: #ff90b3;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%; /* Faz o botão ocupar toda a largura */
  }
  
  .button {
    padding: 10px 20px;
    background-color: #ffc2de;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Faz o botão ocupar toda a largura */
    max-width: 200px; /* Limita a largura máxima do botão */
    text-align: center;
  }
  
  .button:hover {
    background-color: #ff90b3;
  }
  
  .button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  