/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/Login/login.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.login_input-group__gb4Yx {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
  }
  
  .login_input-group__gb4Yx label {
    font-size: 14px;
    margin-bottom: 5px; 
  }
  
  .login_form__EvtNV {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 20px; 
  }
  
  .login_page__PgYtb {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .login_form__EvtNV {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
  }
  
  .login_areaLogin__mhHib img {
    width: 420px;
  }
  
  .login_form__EvtNV h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
  }
  
  .login_form__EvtNV p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
  }
  
  .login_form__EvtNV input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
  }
  
  
  .login_form__EvtNV input:focus {
    border: 1px solid #f72585;
  }
  
  .login_form__EvtNV label {
    font-size: 14px;
    font-weight: 600;
  }
  
  .login_form__EvtNV a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
  }
  
  .login_formLogin__ACs3t a:hover {
    color: #f72585;
  }
  
  .login_btn__bcVkc {
    background-color: #f72585;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
  
  }
  
  .login_btn__bcVkc:hover {
    transform: scale(1.05);
    background-color: #ff0676;
  
  }
