/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/* Geral */
.page_page__ZU32B {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
}

/* Cabeçalho */
.page_header__kVzhN {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  background-color: #ff9bc8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.page_logoContainer__S8bF9 {
  display: flex;
  align-items: center;
}

.page_logo__7fc9l {
  height: 80px;
  border-radius: 50%;
}

.page_headerActions__QmoBM {
  display: flex;
  align-items: center;
}

.page_ctaButton__tHxa2 {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page_ctaButton__tHxa2:hover {
  background-color: #ff4081;
}

/* Conteúdo Principal */
.page_content__kDoxQ {
  display: flex;
  flex: 1;
  width: 100%;
  height: calc(100vh - 80px); /* Altura restante após o cabeçalho */
}

.page_left__GAiiX, .page_right__M89Ik {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.page_left__GAiiX {
  background-color: #f72585;
}

.page_right__M89Ik {
  background-color: #000;
}

.page_loginBtn__EIvUH {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #fe88bf;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.page_loginBtn__EIvUH:hover {
  background-color: #f72585;
  color: #000;
}
